<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:name="pub.gll.modulevideo.VideoListAct"
            android:exported="true" />

        <activity
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:name="pub.gll.modulevideo.video.PlayActivity"
            android:exported="true" />

        <activity
            android:name="pub.gll.modulevideo.download.DownloadListActivity"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx.startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="pub.gll.modulevideo.init.VideoInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>